/*CSS FOR INDEX.HTML */



.divBody {
    margin: auto;
    width: 60%; 
    height: auto;
    border: 10% ;
    padding: 10% ;
    box-sizing:auto;
    }

    body{
    background-image: url("https://i.imgur.com/LMZcfmj.png");
    background-repeat: no-repeat;
    background-size: 100%;

        
    }


 h1 { color:rgb(5, 5, 5);
        
        font-family:'georgia',serif;
        font-size: 12vw; 
        font-weight: bold; 
        letter-spacing: -1px; 
        line-height: 1; 
        text-align: right; 
    

    }  

  



    
/* MENU BAR CSS */
    
   .menu{
       text-align:center;
       width: auto;
       padding: 5px;
       background-color : white;       
   }

    .nav {
    font-family: Arial, Helvetica, sans-serif;
    border : 3px solid white;
    padding : 10px;
    margin:12px;
    text-transform: text-shadow; 
    text-align: left;
    font-weight: bold;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 2vw;
    letter-spacing: -1px; 
    color:rgb(247, 247, 247);
    
    background-color: rgb(193, 33, 15);
    border-radius : 15px;
    border-radius : 15px; 
    }
    a:hover {
        backgrou-color: black ;
    }
/* MENU BAR CSS */


p   { 
    font-size: 2vw;
    letter-spacing: -1px; 
    color:rgb(247, 247, 247);
    text-transform: text-shadow; 
    text-align : left;
    font-weight: bold;
    } 

ol {
    font-size: 2vw;
    letter-spacing: -1px; 
    color:rgb(247, 247, 247);
    text-transform: text-shadow; 
    text-align: left;
    font-weight: bold;
    list-style-type: decimal;
    box-sizing:border-box;
   
    }    




  li{
    border : 8px solid white;
    padding : 2%;
    margin : 2%;
    border-radius : 15px;
    -moz-border-radius : 15px;
    -webkit-border-radius : 15px;
    background-color :rgb(5, 5, 5);
    text-align : center;
    position: relative;;

 }

 /* CSS FOR TOPLIST.HTML */
   
div.movie{
        
        /* font-size: 3vw; */
        letter-spacing: -1px; 
        /* color:rgb(247, 247, 247); */
         
        text-align : center;
        font-weight: bold;
        display : grid;
        grid-template-columns : auto auto auto;
        grid-gap : 20px 20px ;    
        align-content: center;
                
}
 
.grid1:hover,
.grid2:hover,
.grid3:hover,
.grid4:hover,
.grid5:hover,
.grid6:hover,
.grid7:hover,
.grid8:hover,
.grid9:hover,
.grid10:hover{
    transform:scale(1.5);
} 
.movie > div {
    background-color: rgb(5,5,5);
    padding:20px 10px; 
    border : 8px solid white;
}

.shrink{
    max-width: 120px;
    
}        




/*//CSS FOR QUESTIONS.HTML// */

.quizfont{
    font-family: 'Times New Roman', Times, serif;
    

}


/* p.bubble{
border : 8px solid white;
padding : 20px;
width : 275;
border-radius : 10px;
-moz-border-radius : 10px;
-webkit-border-radius : 10px;
background-color : rgb(193, 33, 15); */

/* sample from css3 page 321 */




